:root {
    --blue: #0083c3;
    --grey-bg: #e5e5e5;
    --grey-writing: #747474;
    --grey-light: #f3f3f3;
    --black: #2e2e2e;
    --radius: 10px;
    --shadow: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}

.header_container {
    /* max-width: 50%; */
    padding: 4rem 2rem;
    padding-block-end: 0;
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--grey-bg);
    font-family: 10px;
    color: var(--black);
}

h1 {
    font-weight: bold;
    font-size: 45px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: var(--black);
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: var(--black);
}

main {
    padding: 4rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    gap: 25px;
}

.add-song,
form {
    background: white;
    border-radius: var(--radius);
    filter: var(--shadow);
}

.add-song {
    padding: 2rem;
    display: grid;
    gap: 10px;
}

.increase-score {
    background-color: #0083c3;
    padding-block-end: 0.5rem;
    padding-block-start: 0.5rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--grey-light);
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 5px;
    margin-top: 0.3rem;
    font-size: 14px;
}

select {
    border: none;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--grey-light);
    height: 2.25rem;
    width: 100%;
    border-radius: 5px;
    color: var(--grey-writing);
    margin-top: 0.3rem;
    font-size: 14px;
}

label {
    font-size: 11px;
    line-height: 15px;
    color: var(--black);
}

fieldset button {
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}

fieldset button:hover {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
}

table {
    background: white;
    display: grid;
    overflow: scroll;
}

thead {
    background: rgba(0, 127, 189, 0.03);
    border-radius: 10px 10px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    font-weight: 600;
    color: var(--grey-writing);
    font-size: 14px;
}

tbody {
    display: grid;
    grid-template-columns: repeat(5.1fr);
    column-gap: 20px;
}

td {
    padding: 2rem 0.5rem;
    align-self: center;
    font-size: 14px;
    line-height: 17px;
}


/* tr {
    display: grid;
    justify-items: center;
    grid-template-columns: 20% 20% 15% 15% 15% 15%;
    border-bottom: 1px solid var(--grey-bg);
    padding: 0 2rem;
} */

tr button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 1rem;
}

tr button:hover {
    color: var(--grey-writing);
}

td>span:nth-child(1) {
    font-size: 20px;
    font-weight: 600px;
    color: #2e2e2e;
    padding: 1rem;
}

td>span:nth-child(2) {
    font-size: 10px;
    font-weight: 400px;
    color: #2e2e2e;
    padding: 2rem;
}

[type="button"] {
    padding: 1rem;
    background-color: #0083c3;
}